.gitignore
.vscode/settings.json
/.DS_Store
Assignment-22-1/.DS_Store
Assignment-22-1/my Experience.docx
Discussion-22-1/.DS_Store
Discussion-22-2/.DS_Store
error.ipynb
*.log
images/*
Try-It-Activity-22-1/.DS_Store
Try-It-Activity-22-1/images/*
Try-It-Activity-22-1/venv/*
Try-It-Activity-22-1/*.log
Try-It-Activity-22-1/ig-Error.log
Try-It-Activity-22-1/IG-Warnings.log
.gitignore
.gitignore
